body {
	margin: 0;
	padding: 0;
}
.rojo {
	background-color: #ee3e64;
	width: 200px;
	height: 200px;
	position: relative;

}
.azul {
	background-color: #44accf;
	width: 200px;
	height: 200px;
	position: relative;
	left: 200px;

}
.verde {
	background-color: #b7d84b;
	width: 200px;
	height: 200px;
	position: relative;
}